/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: sans-serif;
  background-color: blue
}
#intro p {
  font-family: cursive;
  color: aquamarine;
}
section h1 {
  font-size: 30px;
}
#hobbies ul.hobby{
  color: blue;
}
